apiVersion: platform.confluent.io/v1beta1
kind: SchemaImporter
metadata:
  name: schema-importer
  namespace: confluent
spec:
  destinationCluster:
    schemaRegistryClusterRef:
      name: schemaregistry
      namespace: confluent
  sourceCluster:
    schemaRegistryRest:
      endpoint: <YOUR CCLOUD SR ENDPOINT HERE>
      authentication:
        type: basic
        basic:
          secretRef: cc-sr-credentials
  schemaRegistryAutomation:
    exporterName: "schema-exporter"
  subjects: [":*:"]
  contextName: ""
