region = "us-west-2"

username = <YOUR USERNAME>  # make this unique

vpc-cidr = "172.30.0.0/16"
public-subnet-cidr = [ "172.30.16.0/20", "172.30.32.0/20", "172.30.48.0/20" ]
private-subnets-cidr = [ "172.30.64.0/20", "172.30.80.0/20", "172.30.96.0/20" ]
public-availability-zones = [ "us-west-2a", "us-west-2b", "us-west-2c" ]
private-availability-zones = [ "us-west-2a", "us-west-2b", "us-west-2c" ]

confluent_api_key=<YOUR CCLOUD API Key>
confluent_api_secret=<YOUR CCLOUD API Secret>

jumphost-instance-type = "r6i.2xlarge"
enable_eks = false
